# EditorConfig is awesome: http://EditorConfig.org

# No .editorconfig files above the root directory
root = true

# Indentation override for all TS files in src
[*.{ts,tsx}]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
