/* Make code mirror flex boxy */
.CodeMirror {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.CodeMirror-scroll {
    flex: 1;
}

/* Make code mirror selections a bit more popping */
.cm-s-monokai div.CodeMirror-selected {
    background: #58574B;
}

/* matchbrackets addon */
.cm-s-monokai .CodeMirror-matchingbracket {
    color: #4f0 !important;
    background-color: #32332b;
    text-decoration: none;
}
.cm-s-monokai .CodeMirror-nonmatchingbracket {
    background-color: #32332b;
}

/* cm-s-monokai has nothing for qualifier */
.cm-s-monokai span.cm-qualifier { color: rgb(0, 208, 255); }

/* make overrite (insert) mode visually different */
.CodeMirror-overwrite .CodeMirror-cursor{
    border-left:2px solid red !important;
}

/* match-highlight from demo : https://codemirror.net/demo/matchhighlighter.html */
.cm-matchhighlight {
    text-decoration: underline;
}

/* tag matching is a bit too bold. Dull it down a bit */
.CodeMirror-matchingtag {
    background: rgba(150, 118, 0, 0.2);
}

/* Code folding style from graphiql */
.CodeMirror-foldmarker {
  border-radius: 4px;
  background: #08f;
  background: -webkit-linear-gradient(#43A8FF, #0F83E8);
  background:         linear-gradient(#43A8FF, #0F83E8);

  color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-family: arial;
  line-height: 0;
  padding: 0px 4px 1px;
  font-size: 12px;
  margin: 0 3px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}
