/*
 * Class names pulled from show-hint.css
 * commented out sections present before the *customizations* comment are sections we commented out of show-hint
 */

.CodeMirror-hints {
    /** Straight from show-hint.css */
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    /* border-radius: 3px; */
    /* border: 1px solid silver; */

    background: white;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;

    /** customizations */

    /** theoretically `display:table` is needed ... but as soon as we add it height no longer works (css limitation)
     * But since table-row table-cell children work even without this ... lets do that :)
     */
    /** display: table; */
    background: #272822;
    border: 1px solid #333;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  /* border-radius: 2px;*/
  max-width: 19em;
  white-space: pre;
  color: black;
  cursor: pointer;

  /** customizations */
  display: table-row;
  transition: color .2s cubic-bezier(0.23, 1, 0.32, 1);
  color: white;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;

  /** customizations */

}


/**
 * Everything below is custom 🌹
 * custom classes in our hints
 */
.cm-hint.left {
    color: #FF8888;
    background: rgba(255, 0, 0, 0.31);

    display: table-cell;
    padding-right: 4px;
    padding-left: 4px;

    transition: color .2s cubic-bezier(0.23, 1, 0.32, 1);

    /* Because of using table - row on parent spacing between items needs to come from here as well */
    padding-top: 2px;
    padding-bottom: 2px;
}
.CodeMirror-hint-active .cm-hint.left {
    color: white !important;
}

.cm-hint.main {
    display: table-cell;

    padding-right: 4px;
    padding-left: 4px;
}
.CodeMirror-hint-active .cm-hint.main {
}

.cm-hint.right {
    display: table-cell;

    padding-right: 4px;
    padding-left: 4px;

    max-width: 200px;

    font-size: 8px;
    color: #D1D1D1;

    overflow: hidden;
    text-overflow: ellipsis;
}
.CodeMirror-hint-active .cm-hint.right {
}


/**
 * Code Mirror Documentation classes based on tern.css
 */
/* original */
.CodeMirror-Tern-tooltip {
    border: 1px solid silver;
    border-radius: 3px;
    color: #444;
    padding: 2px 5px;
    font-size: 90%;
    font-family: monospace;
    background-color: white;
    white-space: pre-wrap;

    max-width: 40em;
    position: absolute;
    z-index: 10;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);

    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
}
.CodeMirror-Tern-hint-doc {
    max-width: 25em;
    margin-top: -3px;
}
/* extensions */
.CodeMirror-Tern-tooltip {
    background-color: #333;
    color: #DDD;
    border: 2px solid white;
}
