/** Other instances of the placeholder being edited right now */
.CodeMirror-templates-variable-selected {
    background-color: #666;
    /*outline: solid #FFF 1px;*/
}

/** Other place holders that user can cycle to */
.CodeMirror-templates-variable {
    background-color: #111;
    /*outline: solid #FFF 1px;*/
}

.CodeMirror-templates-variable-start {
}

.CodeMirror-templates-variable-end {
}
