/*
 * Class names pulled from show-hint.css
 * commented out sections *before customizations* are sections we commented out of show-hint
 */

.CodeMirror-hints {
    /** Straight from show-hint.css */
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;

    background: white;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;

    /** customizations */

    /** theoretically its needed ... but as soon as we add it height no longer works (css limitation)
     * But since table-row table-cell children work even without this ... lets do that :)
     */
    /** display: table; */
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  white-space: pre;
  color: black;
  cursor: pointer;

  /** customizations */
  display: table-row;
  transition: color .2s, background .2s;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}


/**
 * Everything below is custom 🌹
 * custom classes in our hints
 */
.hint.left {
    color: red;
    display: table-cell;
    padding-right: 3px;
    
    transition: color .2s, background .2s;

    /* Because of using table - row on parent spacing between items needs to come from here as well */
    padding-top: 2px;
    padding-bottom: 2px;
}
.CodeMirror-hint-active .hint.left {
    color: #62FF00;
}
