.CodeMirror-git-status {
    width: .4em;
}

.git-added {
    color: lime;
}
.git-modified {
    color: yellow;
}
.git-removed {
    bottom: -15px;
    margin-top: -15px;
    border-width: 15px;
    border-left-color: red;
}
