.CodeMirror-git-status {
    width: .3em;
}

.git-added {
    background-color: lime;
    height: 100%;
}
.git-modified {
    background-color: yellow;
    height: 100%;
}
.git-removed {
    padding-top: .5em;
    color: red;
}
/* Inspired from codemirror/addon/search/matchesonscrollbar.css */
.git-scrollbar-added {
    background: lime;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    opacity: .2;
    width: .2em !important;
    margin-right: .2em;
}
.git-scrollbar-modified {
    background: yellow;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    opacity: .2;
    width: .2em !important;
    margin-right: .2em;
}
.git-scrollbar-removed {
    background: red;
    opacity: .4;
    width: .2em !important;
    margin-right: .2em;
}
