.CodeMirror-git-status {
    width: .4em;
}

.git-added {
    background-color: lime;
    height: 100%;
}
.git-modified {
    background-color: yellow;
    height: 100%;
}
.git-removed {
    padding-top: .5em;
    color: red;
}
