.cm-jumpy:before {
    position: absolute;
    font-size: 9.4px;
    background: white;
    color: black;
    border-radius: 3px;
    padding: 1px;
    box-shadow: 1px 1px 1px 1px black;

    content: attr(content);
}
