.cm-jumpy:before {
    position: absolute;
    font-size: 9.4px;
    background: white;
    color: black;
    border-radius: 3px;
    font-weight: bold;
}
.cm-jumpy-aa:before {
    content: "aa";
}
.cm-jumpy-ab:before {
    content: "ab";
}
.cm-jumpy-aa:before {
    content: "aa";
}
.cm-jumpy-aa:before {
    content: "aa";
}
