.CodeMirror-live-analysis {
    width: .3em;
}
.CodeMirror-live-analysis-override {
    display: block !important; /* overwrite data--hint hint css default */
    margin-top: .1em;
    font-size: .7em;
    transition: opacity .2s;
    opacity: .5;
    cursor: pointer;
}
.CodeMirror-live-analysis-override:hover {
    opacity: 1 !important;
}
