.monaco-jumpy {
    position: absolute;

    font-size: 1em;
    font-family: monospace;

    font-weight: bold;
    background: white;
    color: black;
    border-radius: 3px;

    padding: 1px;
    z-index: 1000;
}
