.monaco-quickfix {
    margin-left: 0px;
    font-size: .7rem;
    transition: opacity .2s;
    opacity: .6;
    cursor: pointer;
}

.monaco-quickfix:before {
    /* Adding a before content throws live analysis off of its game */
    /*content: "💡";*/
}

.monaco-quickfix:hover {
    opacity: 1 !important;
}
